@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
:root {
    --brand-white: #EFF5FA;
    --light-accent: #D0E2F0;
    --dark-accent: #234C6C;
    --brand-black: #142C3E;
}

/* -- GENERAL PAGE FORMATTING -- */

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--brand-white);
    color: var(--brand-black);
    font-family: 'Inter', Arial, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;  
}

.app-area {
    border: 1px solid var(--light-accent);
    border-radius: 4px;
}

/* -- CONTROL PANEL FORMATTING -- */

.control-panel {
    height: 5.625em;
    display: grid;
    column-gap: 1em;
    grid-template-columns: 6em 3.4fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "colorpicker modepicker countpicker getschemebtn";
    align-items: center;
}
/* -- COLOR SCHEME MODE DROPDOWN MENU --*/

.color-picker {
    min-width: 6em;
    min-height: 4em;
    grid-area: colorpicker;
    margin-left: 1em;
}

.dropdown-btn {
    grid-area: modepicker;
    background-color: var(--brand-white);
    border: 1px solid var(--light-accent);
    cursor: pointer;
    height: 100%;
    padding: 1em;
}

.dropdown-btn:hover {
    border: 1px solid var(--dark-accent);
}

.dropdown-btn:active {
    background-color: var(--light-accent);
}

.dropdown-btn p{
    margin: 0;
    margin-inline: 0;
    margin-block: 0;
    line-height: 1.315em;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 19em;
    z-index: 1;
    background-color: var(--brand-white);
    margin: 0;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 .25em .25em;
}

.dropdown-content p {
    padding: .75em 1em;
    display: block;
    margin: 0;
    margin-inline: 0;
    margin-block: 0;
}

.dropdown-content p:hover {
    background-color: var(--light-accent);
}

.dropdown-content p:active {
    font-weight: bolder;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.current-mode {
    font-weight: bolder;
    background-color: #cfeafe;
}

/*-- COLOR COUNT INPUT BOX FORMATTING --*/

.count-picker {
    font-size: 1em;
    font-family: 'Inter', Arial, Arial, Helvetica, sans-serif;
    padding: .5em .5em .5em 0;
    background-color: var(--brand-white);
    color: var(--brand-black);
    width: 2em;
    display: inline;
    text-align: end;
    border: none;
    background-color: var(--light-accent);
    margin-left: .25em;
    border: 1px solid var(--light-accent);
}

.count-picker:hover {
    border: 1px solid var(--dark-accent);
}

.count-selection {
    font-size: .75em;
}

.count-picker-label {
    grid-area: countpicker;
}

/*-- GO BUTTON FORMATTING --*/

button {
    grid-area: getschemebtn;
    font-family: 'Inter', Arial, Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 1em;
    margin-right: 1em;
    border: 1px solid var(--light-accent);
    background-color: var(--brand-white);
}

button:hover {
    background-color: var(--light-accent);
    border: 1px solid var(--dark-accent);
}

button:active {
    background-color: #cfeafe;
}

/* -- COLOR PANEL + COMPONENT PARTS FORMATTING -- */

.colors-panel {
    display: flex;
    flex-direction: row;
    height: 40em;
    align-items: stretch;
    flex-wrap: nowrap;
}

.color {
    height: 100%;
    align-self: stretch;
    flex-basis: 100%;
    text-align: center;
}


.labels {
    margin-top: 1.5em;
    font-weight: bolder;
    cursor: pointer;
}


/*-- UTILITIES --*/

.white-text {
    color: #FFFFFF;
}

.black-text {
    color: #000000;
}

.rounded-corners{
    border-radius: .25em;
}

.show {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 480px) {
    
    .colors-panel {
        display: flex;
        flex-direction: column;
        height: 75vh;
        align-items: stretch;
        flex-wrap: nowrap;
    }

    .count-picker {
        text-align:center;
    }
    .count-picker-label {
        font-size: .75em;
        text-align: center;
    }
    .dropdown-btn p{
        font-size: .8em;
        line-height: .8em;
    }
    button {
        font-size: .8em;
        padding: .8em;
    }
    .color-picker {
        width: auto;
        height: auto;
    }

}