@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
:root {
    --brand-white: #EFF5FA;
    --light-accent: #D0E2F0;
    --dark-accent: #234C6C;
    --brand-black: #142C3E;
}


html, body {
    margin: 0;
    padding: 0;
    background-color: var(--brand-white);
    color: var(--brand-black);
    font-family: 'Inter', Arial, Arial, Helvetica, sans-serif;
}

body {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;  
}
.app-area {
    border: 1px solid var(--light-accent);
    border-radius: 4px;
}

.control-panel {
    height: 5.625em;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.control-panel * {
    margin: 1.5em
}

.colors-panel {
    display: flex;
    flex-direction: row;
    height: 40em;
    align-items: stretch;
    flex-wrap: nowrap;
}

.color {
    height: 100%;
    align-self: stretch;
    flex-basis: 100%;
    text-align: center;
}

.white-text {
    color: #FFFFFF;
}

.black-text {
    color: #000000;
}

.color-label {
}


/* -- COLOR SCHEME MODE DROPDOWN MENU --*/

.dropdown-btn {
    background-color: var(--brand-white);
    height: 2.625em;
    border: 1px solid var(--light-accent);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 19em;
    z-index: 1;
}

.dropdown p {
    padding: .75em 1em;
    display: block;
}

.dropdown p:hover {
    background-color: var(--light-accent);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.show {
    display: block;
}

.current-mode {
    font-weight: bolder;
    background-color: #cfeafe;
}